.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Container {
  display: grid;
  width: 70%; 
  height: 240px;
  row-gap: 20px;
}

.Title {
  background-color: rgb(17, 17, 17);
  padding: 10px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
  color: white;
  border-radius: 5px;
}

.Grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  row-gap: 1rem;
  column-gap: 1rem;
}